.contact-section {
    background-color: #34495E;
    padding: 4.5rem 0;
    color: #fff;

    .contact-button {
        color: #fff;
        padding: 15px 20px;
        display: inline-block;
        margin-top: 20px;
        border: 1px solid #fff;
        border-radius: 4px;
        transition: all 0.9s;
    
        &:hover {
            text-decoration: none;
            // color: #2C3E50;
            color: #34495E;
            background-color: #d5e1e4;
            border: 1px solid#fff;
        }
    }
}